.workspaceContainer {
    width: 100%;
    height: 100vh;
    display: flex;
}

.navContainer {
    width: 20%;
    height: 100vh;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.navContent {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navContent h1 {
    padding-top: 1rem;
    font-family: 'Jomhuria';
    font-size: 72px;
    font-weight: 400;
    color: #474444;
}

.navContent .buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
}

.navContent .buttonGroup button {
    background-color: transparent;
    outline: transparent;
    border: 2px solid transparent;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    color: #474444;
    text-align: start;
    padding: 0.5rem 3rem;
    width: 100%;
    border-radius: 8px;
}

.activeButton {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    transition: box-shadow 0.3s ease;
}

.logoutContainer {
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navContent .logoutContainer hr {
    border: 1px solid black;
    width: 12rem;
    margin-bottom: 2rem;
}

.navContent .logoutContainer button {
    outline: transparent;
    border: 2px solid transparent;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    color: #474444;
}

.componentContainer {
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}